# Add any directories, files, or patterns you don't want to be tracked by version control

*.iml
.gradle
/local.properties
gradle.properties
/.idea
/.idea/libraries
.DS_Store
/build
/captures
Thumbs.db
/app/fabric.properties
projectFilesBackup
*.hprof
output.json
my_app.apks
*.aab
*.apk
