<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kanzankazu.itungitungan">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appsName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.logreg.SignInUp" />
        <activity android:name=".view.main.MainActivity" />

        <!--Sample-->
        <activity android:name=".sample.SampleCrudMainActivity" />
        <activity android:name=".sample.SampleCrudCreateActivity" />
        <activity android:name=".sample.SampleCrudReadActivity" />
        <activity android:name=".sample.SampleCrudReadSingleActivity" />
    </application>

</manifest>